@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "K2D", sans-serif;
    width: 100vw;
    height: 100vh;
    min-width: 1025px;
    background: linear-gradient(to top , rgb(255, 0, 0) , rgb(255, 238, 0));
    background-attachment: fixed;
}

.box-nav {
    min-width: 1025px;
    margin-left: 4rem;
    border-radius: 0 0 0 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    box-shadow: 10px 10px 20px rgb(133, 131, 131);
    .logo{
        img{
            margin: 0 2rem;
            width: 4vw;

        }
    }
    .list-menu{
        display: flex;
        margin-left: 1.5rem;
        li{
            list-style: none;
            .active{
                background-color: red;
                padding: 0.4rem 0.9rem;
                border-radius: 20px;
                color: #ffffff;
            }
            a{
                text-decoration: none;
                color: #000;
                div{
                    margin-right: 2rem;
                }
            }
            div:hover {
                background-color: rgb(230, 230, 164);
                padding: 0.4rem 0.9rem;
                border-radius: 20px;
            }
        }
    }
}


.intro{
    text-align: center;
    margin-top: 10rem;
    .intro-content{


       .info-title{
        color: #ffffff;
        
        h1{
            margin: 2rem;
            font-weight: 900;
            font-size: 4rem;
        }
        p{
            font-size: 1.5rem;
            margin: 2rem;
            margin-bottom: 3rem;
        }
       } 
       .btn-next{
        margin-top: 2rem;
        background-color: #e4d500;
        display: inline;
        padding: 1rem 2rem;
        border-radius: 30px;
        box-shadow: 10px 10px 20px rgb(133, 131, 131);
        a{
            text-decoration: none;
        }
        a:hover {
            background-color: rgb(99, 99, 30);
            padding: 0.6rem 1rem;
            border-radius: 30px;
            color: #ffffff;
        }
       }
    }
}
